#contact{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}
#contact h1{
    color: white;
}
.cont{
    padding: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 60vw;
    background-color: #004BA8;
    position: relative;
}

.cont > div > div{
    margin-top: 5rem;
    word-wrap: break-word;
}

.containerText {
    width: 100%;
    background-color: #1E1E1E;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px 0px;
}

.containerText p {
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.cont > div > div p{
    margin: 0;
    font-family: "Roboto Mono", monospace;
    color: #fff;
    margin-bottom: 20px;
}
.line {
    width: 80%;
    height: 4px;
    border: 2px solid white!important;
}
  
.phoneText a, .emailText a{
    text-decoration: none;
    color: #1E1E1E;
    transition: color 0.3s;
    font-weight: bold;
}
  
.social-icons {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
  
.social-icons > i {
    font-size: 50px;
    color: #1E1E1E;
    margin-left: 10px;
}

.TitleTags{
    font-size: 30px;
    font-style: italic; 
    font-weight: bold;
}

