hr {
    border: 2px solid #fff;
}
.password-box {
    position: relative;
}
.password-box > p {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.password-box i{
    color: black;
}
.udv-szoveg{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 10px;
    border: 2px solid #000;
    background-color: #1E1E1E;
    color: #CBA008;
    width: 550px;
    padding: 10px;
}
.szovegek > p {
    margin: 5px;
    text-align: justify;
}