#mainMenu{
    width: 100vw;
    min-height: 100vh;
    background-color: #5a5959;
}
#mainMenu h1{
    color: white;
}

.order{
    align-items: center;
    background-color: #004BA8;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 50px;
    margin: 0 auto;
    width: 80%;
}
.orderText{
    text-align: center;
    padding: 10px;
    color: #fff;
}
#rendelesek {
    width: 100%;
    margin-top: 10px;
    margin: 0 auto;
}

#rendelesek th, #rendelesek td {
    padding: 10px;
    border: 1px solid #21272b;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    background-color: #1E1E1E;
}