.navbar{
    background-color:  #1E1E1E;
}
.navbar-brand h2{
    color: #fff;
}
.navbar-brand span{
    color: #004BA8;
}
.nav-item a{
    color: #fff;
}
.nav-link{
    position: relative;
    width: max-content;
}
.nav-link:hover{
    color: #fff;
}
.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.4s;
    height: 1.5px;
    width: 100%;
    background-color: #004BA8;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}
#userText > p, #logOutText > p{
    color: #fff;
    margin: 5px!important;
}
#logOutText{
    text-decoration: none;
}
#logOutText > i, #userText > i{
    color: #004BA8;
}