* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
h3, p{
    margin: 0!important;
}
main{
    min-height: 100vh;
}
body{
    background-color: #262525;
}
span{
    color: #004BA8;
}
.div-group {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 10;
}

.form-container{
    margin: 30px;
    align-items: center;
    border: 2px solid #000;
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    color: #004BA8; 
}
.form-container > p{
    color: #fff;
    font-style: oblique;
    font-size: small;
}
.form-container a{
    color: #cde0f7;
    font-style: normal;
    font-size: small;
}
.cim{
    background-color: #1E1E1E;
    height: 10vh;
    width: max-content;
    padding: 20px;
    border: 2px solid #000;
    text-align: center;
}
.cim h2{
    color: #fff;
}
.btn{
    background-color: #004BA8;
}
.btn:hover{
    background-color: #004BA8;
    filter: brightness(0.9);
}
.logo{
    position: absolute;
    bottom: 10px;
    right: 10px;
}