#webshop{
    width: 100vw;
    min-height: 100vh;
    background-color: #5a5959;
}
.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.webshop-card{
    border-radius: 10px 10px 0px 0px;
    background-color: #004BA8;
    flex: 1 0 21%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}
.webshop-card img{
    width: 150px;
    height: 150px;
    align-self: center;
    fill: #1e1e1e;
}
.webshop-card  p{
    background-color: #1e1e1e;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px 0px;
}
.inputDB{
    width: 100px;
}