<div class="div-group">
    <div class="bejelentkezes">
        <div class="cim">
            <h2><span>AutóAlibi</span> Alkatrészek</h2>
        </div>
        
        <div class="myDivContainer">
            <div class="login">
            <div class="log-data">
                <h1 class="h3 mt-3 fw-bold mb-3">Bejelentkezés</h1>
            
                <div class="form-floating mb-3 text-secondary">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">E-mail</label>
                </div>
        
                <div class="form-floating mb-3 text-secondary form-box">
                    <p class="show-button"><i class="fa-solid fa-eye"></i></p>
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Jelszó</label>
                </div>
                <p class="forgot-password">Elfelejtette a jelszavát?
                    <a href="#!/newPass">Kérjen újat!</a>
                </p>
                <button class="btn w-100 py-2 text-white mb-2" id="logBtn"  onclick="login()" type="submit">Bejelentkezés</button>
                <p class="new-reg">Nincs még fiókod?
                    <a href="#!/register">Regisztrálj!</a>
                </p>
            </div>
            </div>
        </div>
        <hr class="horizontal-line">
        <div class="udv-szoveg">
            <img src="/frontend/Assets/img/Warning-login.svg" alt="warning">
            <div class="szovegek">
                <p>Tisztelt ügyfél,</p>
                <p>Az online webáruház jelenleg csak regisztrált partnereink számára érhető el. A webáruház használatához kérjük, jelentkezzen be fiókjába.</p>
                <p>Üdvözlettel:</p>
                <p>AutóAlibi Alkatrészek kft.</p>
            </div>
        </div>
    </div>
</div>
<img src="/frontend/Assets/img/Logo-login.svg" alt="logo" class="logo">