<div class="div-group">
    <div class="regisztracio">
        <div class="cim">
            <h2><span>AutóAlibi</span> Alkatrészek</h2>
        </div>
        
        <div  ng-if="messages.length != 0" class="alert" role="alert" ng-class="{'alert-danger': messages[0].type == 'error', 'alert-success': messages[0].type == 'success'}">
          {{messages[0].description}}
       </div>
       
        <div class="myDivContainer">
            <div class="register">
                <div class="reg-data">
                    <h1 class="h3 mt-3 fw-bold mb-3">Regisztráció</h1>
        
                    <div class="form-floating mb-3 text-secondary">
                      <input type="text" class="form-control" id="nameField" placeholder="" ng-model="reguser.name">
                      <label for="nameField">Felhasználónév</label>
                    </div>

                    <div class="form-floating mb-3 text-secondary">
                      <input type="email" class="form-control" id="email" placeholder="name@example.com" ng-model="reguser.email">
                      <label for="email">E-mail</label>
                    </div>
        
                    <div class="form-floating mb-3 text-secondary">
                      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="reguser.password1">
                      <label for="password">Jelszó</label>
                    </div>
        
                    <div class="form-floating mb-5 text-secondary">
                      <input type="password" class="form-control" id="confirmPassword" placeholder="" ng-model="reguser.password2">
                      <label for="confirmPassword">Jelszó újra</label>
                    </div>
                    <button class="btn w-100 py-2 text-white mb-3" id="regBtn" ng-click="register()" type="submit">Regisztráció</button>
                    <p class="new-reg">Már van fiókod?
                        <a href="#!/">Jelentkezz be!</a>
                    </p>
            </div>
        </div>
    </div>
</div>
<img src="/frontend/Assets/img/Logo-login.svg" alt="logo" class="logo">