<div id="webshopCar" class="pb-5">
    <nav class="navbar navbar-expand-lg mb-5" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!/mainMenu"><h1><span>AutóAlibi</span> Alkatrészek</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#!/mainMenu">Főoldal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#!/mainMenu/contact">Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#!/mainMenu/webshop">Webshop</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="d-flex flex-row align-items-center">
                            <a href="#!/mainMenu/webshopCart" id="kosar" class="d-flex flex-column align-items-center">
                                <i class="bi bi-cart3 fa-2x"></i>
                                <p class="text-center">Kosár{{}}</p>
                            </a>
                            <div id="userText" class="d-flex flex-column align-items-center">
                                <i class="bi bi-person-circle fa-2x"></i>
                                <p class="text-center">{{user.nev}}</p>
                            </div>
                            <a ng-click="logOut()" id="logOutText" class="d-flex flex-column align-items-center justify-content-center">
                                <i class="bi bi-box-arrow-in-right fa-2x"></i>
                                <p>Kijelentkezés</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="order">
        <div class="orderText">
            <h2>Kosár tartalma</h2>
        </div>
        <table id="rendelesek">
            <thead>
                <tr>
                    <th scope="col">Termék neve</th>
                    <th scope="col">Termék képe</th>
                    <th scope="col">Mennyiség</th>
                    <th scope="col">Ár</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="message.length != 0">
                    <td colspan="5">{{message}}</td>
                </tr>
                <tr ng-repeat="item in items">
                    <td class="bg-white text-black">{{item.nev}}</td>
                    <td class="bg-white text-black"><img src="/frontend/Assets/img{{item.kep}}" height="50"></td>
                    <td class="bg-white text-black">{{item.mennyiseg}}</td>
                    <td class="bg-white text-black">{{item.ar * item.mennyiseg}} Ft</td>
                    <td class="bg-white text-black"><button class="btn py-2 text-white bg-danger" ng-click="torles(item.id)" type="submit">Törlés</button></td>
                </tr>
                <tr>
                    <td colspan="3">Összesen:{{items.length}}</td>
                    <td>{{osszeg}} Ft</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button class="btn py-2 text-white mb-3" id="rendelesBtn" ng-click="fizetes()" ng-if="items.length != 0" type="submit">Tovább a fizetéshez!</button>
    </div>
</div>